@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
.brand{
    color: white;
    text-decoration: none;
}
.logo img{
   
    padding: 4px;
    border-radius: 22px;
    height: 6vh;
    margin: 2px;
}
.nav{
    font-family: 'Roboto', sans-serif;
   align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    font-size: 22px;
    height: 8vh;
    background-color: black;   
}
li{
    list-style: none;
    margin: 2px 3px;
}
    
li a{
    text-decoration: none;
    color: white;
    margin-left: 40px;
}
.list :hover{
font-weight: bold;
color: lawngreen;
}

.form-row{
    font-family: 'Roboto', sans-serif;
    margin: 5px;
    width: 40vw;
    flex-direction: column;
    display: flex;
}
.form{
    display: flex;
    justify-content: center;
}
h1{
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
}


/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
      margin: auto;
      width: 10%;
    background-color:black;
    color: white;
    padding: 12px 0px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: lawngreen;
    color: black;
    font-weight: bold;
  }
  
  /* Add a background color and some padding around the form */
  .form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  .footer{font-family: 'Roboto', sans-serif;
    text-align: center;
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/ 
    height: 28px;
    color: white;
    background: black;
}